# Exclude unnecessary folders
.git/
.gradio/
notebooks/
.gitignore
README.md
LICENSE
.python-version
.github/
.pytest_cache/
docs/
.ipynb_checkpoints/
__pycache__/
Makefile

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
